body {
  font-family: 'DM Sans', sans-serif !important;
  background-color: #000204; //#021204
}

.about-me-container {
 background: rgb(0,2,4);
 background: linear-gradient(180deg, rgba(0,2,4,1) 0%, rgba(0,46,26,1) 62%);
 padding-left: 90px;
 padding-right: 90px;
 padding-top: 50px;
 padding-bottom: 50px;
 color: whitesmoke;

  li {
    display: inline-block;
    list-style: none;
   }

  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }

 }


.img-about-me-container {
  display: flex;
  border-radius: 10px;

}

.project-container {
 background: rgb(0,2,4);
 background: linear-gradient(0deg, rgba(0,2,4,1) 0%, rgba(0,46,26,1) 62%);
 padding-left: 90px;
 padding-right: 90px;
 color: whitesmoke;

 h1 {
  margin-bottom: 20px;
  font-size: 48px;
 }
}

.contact-container {
 background-color: #000204; //#021204
 padding-left: 90px;
 padding-right: 90px;
 color: whitesmoke;
  h1 {
  margin-bottom: 0;
 }
}

.about-me {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 40px;
}
