body {
  font-family: 'DM Sans', sans-serif !important;
  background-color: #000204; //#021204
}

.about-me-container {
 background: rgb(0,2,4);
 background: linear-gradient(180deg, rgba(0,2,4,1) 0%, rgba(0,37,21,1) 44%, rgba(0,37,21,1) 56%, rgba(0,2,4,1) 100%);
 //background-color: #000204; //#021204
 padding-left: 90px;
 padding-right: 90px;
 padding-top: 50px;
 color: whitesmoke;

  li {
    display: inline-block;
    list-style: none;
   }

  h1 {
    font-size: 48px;
  }

 }

.cards-about-me {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center
}

.card-experience {
  height: relative;
  width: 90%;
  border-radius: 1px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 15px;
  transition: 0.5s;
  background: #0fff93;

    &:hover {
      background-color: white;
      box-shadow:  0 0 15px rgba(255, 255, 255, 0.603);
      transform: translate(10px, -10px);
      text-decoration: none;
  }
}

.task-icon-home {
  height: 80px;
  width: 80px;
}

.task-name-card {
  color: #000204;
}
.card-body {

  p {
    font-size: 16px;
    color: #000204;
    text-align: left;
    padding-top: 15px;
  }
}

.img-about-me-container {
  display: flex;
  border-radius: 10px;

}

.project-container {
 background-color: #000204; //#021204
 padding-left: 163px;
 padding-right: 163px;
 color: whitesmoke;

 h1 {
  margin-bottom: 0;
 }
}

.contact-container {
 background-color: #011427; //#021204
 padding-left: 163px;
 padding-right: 163px;
 color: whitesmoke;
  h1 {
  margin-bottom: 0;
 }
}

.about-me {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 40px;
}
