<div class="main-container">
  <div class="banner">
    <div class="container">
      <div class='banner-text'>
        <h1>Mateo Huylebroeck</h1>
        <h3>Here to create a <span style="text-decoration: underline; text-decoration-color:#0fff93; text-underline-position: under;"> positive</span> impact</h3>
        <p>With a background in Sustainable Business, marketing and tech, my <br>aim is to develop web apps to create a positive impact for people <br>and the environment using technology.</p>
        <a id="btn-banner" href="#">Get in touch</a>
        <a class="btn-2-banner" href="#">More about me</a>
      </div>
    </div>
  </div>
  <div class="img-arrow-container"  data-aos="zoom-in">
    <img class="img-arrow" src="https://i.ibb.co/jVBzxT7/arrow-down-sign-to-navigate.png" alt="">
  </div>
  <div class="about-me-container">
    <%# <div class="img-about-me-container">
      <h1>More about me</h1>
      <img class="img-mateo" src="https://i.ibb.co/BnJ2JK8/Linkedin-picture-le-wagon-2.jpg" alt="">
      <div class="about-me">
        <p>With a background in Sustainable Business and Innovation and tech, my aim is to develop web apps to create a positive impact for people and the environment using technology.</p>
      </div>
    </div> %>

    <h1>What I have <br>to offer?</h1>
    <div class="cards-about-me" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-experience">
       <img src="https://i.ibb.co/3rcKsP7/coding.png" alt="experience" class="task-icon-home">
       <div class="card-body">
          <h4 class="task-name-card">Full Stack Web Developer</h4>
          <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. </p>
       </div>
      </div>

      <div class="card-experience">
        <img src="https://i.ibb.co/LxVGD7r/market-research.png" alt="experience" class="task-icon-home">
        <div class="card-body">
          <h4 class="task-name-card">Growth Hacker</h4>
          <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. </p>
        </div>
      </div>

      <div class="card-experience">
        <img src="https://i.ibb.co/RhzFD8b/planet-earth.png" alt="experience" class="task-icon-home">
        <div class="card-body">
          <h4 class="task-name-card">Sustainable Business Specialist</h4>
          <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. </p>
        </div>
      </div>

    </div>
  </div>

  <div class="project-container">
    <h1>Portfolio projects</h1>
    <div class="card-portfolio">
      <img class="img-portfolio" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
      <div class="portfolio-text-container">
        <h2>Silverhelp</h2>
        <h6>EVERYDAY LIFE MADE EASY</h6>
        <%# <p>It became evident early in the coronavirus pandemic that older adults are especially vulnerable to severe illness. However, the virus’s impact on older adults goes beyond a higher risk of serious infection: It also includes social isolation affecting their well-being and mental health as well as underlying medical conditions. <br> <br> %>
           <%# To help our silver generation gain confidence and reconnect with their community, me and my team conceived the idea of a web app that offers help with everyday tasks. We called it <strong>SilverHelp</strong>. <br> <br> %>
           During our time at Le Wagon's 9-week Full Stack Web Development Bootcamp, we had the opportunity to begin developing SilverHelp, a platform dedicated to empowering and supporting seniors with mobility issues by connecting them with our 'Silverhelpers'. <br> <br>
           How does it work? First, the senior or a family member can run a search in their area and select a helper based on their reviews, skills, and proximity. They can then send a request to their chosen helper. Finally, they agree on a time that works best for the Silverhelper to go and assist the senior with whatever they may need!
</p>
        <a class="btn-project" href="#">Check out project</a>
      </div>
    </div>

    <div class="card-portfolio">
      <div class="portfolio-text-container-right">
        <h2>Leave your sh*t</h2>
        <h6>EVERYDAY LIFE MADE EASY</h6>
        <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
        <a class="btn-project" href="#">Check out project</a>
      </div>
      <img class="img-portfolio" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
    </div>

    <div class="card-portfolio">
      <img class="img-portfolio" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
      <div class="portfolio-text-container">
        <h2>Silverhelp</h2>
        <h6>EVERYDAY LIFE MADE EASY</h6>
        <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
        <a class="btn-project" href="#">Check out project</a>
      </div>
    </div>
  </div>

  </div>

  <div class="contact-container">
    <h1>Get in touch</h1>
    <div class="contact-social-container">
      <div class="contact-text-right">
        <h5>Please do not hesitate to contact me directly. <br> I will come back to you as soon as possible.</h5>
        <div class="icon-container">
          <img class="contact-icon" src="https://i.ibb.co/KFxGGzf/email.png" alt="email">
          <img class="contact-icon" src="https://i.ibb.co/Fh3P2K5/linkedin-logo.png" alt="linkedin">
          <img class="contact-icon" src="https://i.ibb.co/HP7vZ68/github.png" alt="github">
        </div>
      </div>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
          <label for="inputPassword4">Your name</label>
          <input type="text" class="form-control" id="inputname4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Your Email</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
        </div>
        <div class="form-group">
          <label for="inputSubject">Subject</label>
          <input type="text" class="form-control" id="inputSubject">
        </div>
        <div class="form-group">
          <label for="inputMessage">Your message</label>
          <textarea type="text" class="form-control" id="inputMessage"></textarea>
        </div>

        <button type="submit" id="btn-banner">Send</button>
      </form>

    </div>
  </div>
</div>
