<div class="main-container">
  <div class="banner">
    <div class="container">
      <div class='banner-text'>
        <h1>Mateo Huylebroeck</h1>
        <h3>Here to create a <span style="text-decoration: underline; text-decoration-color:#0fff93; text-underline-position: under;"> positive</span> impact</h3>
        <p>With a background in Sustainable Business, marketing and tech, my <br>aim is to develop web apps to create a positive impact for people <br>and the environment using technology.</p>
        <a id="btn-banner" href="#">Get in touch</a>
        <a class="btn-2-banner" href="#">More about me</a>
      </div>
    </div>
  </div>
  <div class="img-arrow-container">
    <img class="img-arrow" src="https://i.ibb.co/jVBzxT7/arrow-down-sign-to-navigate.png" alt="">
  </div>
  <div class="about-me-container">
    <%# <div class="img-about-me-container">
      <h1>More about me</h1>
      <img class="img-mateo" src="https://i.ibb.co/BnJ2JK8/Linkedin-picture-le-wagon-2.jpg" alt="">
      <div class="about-me">
        <p>With a background in Sustainable Business and Innovation and tech, my aim is to develop web apps to create a positive impact for people and the environment using technology.</p>
      </div>
    </div> %>

    <h1>What I have <br>to offer?</h1>
    <div class="cards-about-me" data-aos="fade-up" data-aos-duration="1000">
      <div class="card-experience">
       <img src="https://i.ibb.co/3rcKsP7/coding.png" alt="experience" class="task-icon-home">
       <div class="card-body">
          <h4 class="task-name-card">Full Stack Web Developer</h4>
          <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. </p>
       </div>
      </div>

      <div class="card-experience">
        <img src="https://i.ibb.co/LxVGD7r/market-research.png" alt="experience" class="task-icon-home">
        <div class="card-body">
          <h4 class="task-name-card">Growth Hacker</h4>
          <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. </p>
        </div>
      </div>

      <div class="card-experience">
        <img src="https://i.ibb.co/RhzFD8b/planet-earth.png" alt="experience" class="task-icon-home">
        <div class="card-body">
          <h4 class="task-name-card">Sustainable Business Specialist</h4>
          <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. </p>
        </div>
      </div>

    </div>
  </div>

  <div class="project-container">
    <h1>Portfolio projects</h1>
    <div class="card-portfolio">
      <img class="img-portfolio" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
      <div class="portfolio-text-container">
        <h2>Silverhelp</h2>
        <h6>EVERYDAY LIFE MADE EASY</h6>
        <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
        <a id="btn-banner" href="#">Check out project</a>
      </div>
    </div>

    <div class="card-portfolio">
      <div class="portfolio-text-container-right">
        <h2>Silverhelp</h2>
        <h6>EVERYDAY LIFE MADE EASY</h6>
        <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
        <a id="btn-banner" href="#">Check out project</a>
      </div>
      <img class="img-portfolio" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
    </div>

    <div class="card-portfolio">
      <img class="img-portfolio" src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
      <div class="portfolio-text-container">
        <h2>Silverhelp</h2>
        <h6>EVERYDAY LIFE MADE EASY</h6>
        <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails.</p>
        <a id="btn-banner" href="#">Check out project</a>
      </div>
    </div>
  </div>

  </div>

  <div class="contact-container">
    <h1>Contact</h1>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</div>
