<div class="main-container">
  <div class="banner">
    <div class="container">
      <div class='banner-text'>
        <p>Hi there, my name is</p>
        <h1>Mateo Huylebroeck</h1>
        <h3>Here to create a positive impact</h3>
        <p>With a background in Sustainable Business and Innovation and tech, my aim is to develop web apps to create a positive impact for people and the environment using technology.</p>
        <a class="btn btn-primary" href="#">Get in touch</a>
      </div>
    </div>
  </div>

  <div class="about-me-container">
    <h1>More about me</h1>
    <div class="img-about-me-container">
      <div class="about-me">

        <p>With a background in Sustainable Business and Innovation and tech, my aim is to develop web apps to create a positive impact for people and the environment using technology.</p>
      </div>

      <img class="img-mateo" src="https://i.ibb.co/BnJ2JK8/Linkedin-picture-le-wagon-2.jpg" alt="">
    </div>
    <h1>What I have to offer ...</h1>
    <div class="cards-about-me">
      <div class="card-experience">
       <img src="https://i.ibb.co/wcyN3j0/coding.png" alt="experience" class="task-icon-home">
       <div class="card-body">
          <h5 class="task-name-card">Full Stack Web Developer</h5>
          <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. </p>
       </div>
      </div>

      <div class="card-experience">
        <img src="https://i.ibb.co/4dCMVFM/market-research.png" alt="experience" class="task-icon-home">
        <div class="card-body">
          <h5 class="task-name-card">Growth Hacker</h5>
        </div>
      </div>

      <div class="card-experience">
        <img src="https://i.ibb.co/5Y78wSy/planet-earth.png" alt="experience" class="task-icon-home">
        <div class="card-body">
          <h5 class="task-name-card">Sustainable Business Specialist</h5>
        </div>
      </div>

    </div>
  </div>

  <div class="project-container">
     <h1>Projects</h1>
  </div>

    <div class="contact-container">
     <h1>Contact</h1>
  </div>
</div>
