<div class="main-container">
  <div class="banner">
    <div class="container">
      <div class='banner-text'>
        <h1>Mateo Huylebroeck</h1>
        <h3>Here to create a <span style="text-decoration: underline; text-decoration-color:#0fff93; text-underline-position: under;"> positive</span> impact</h3>
        <p>With a background in Sustainable Business, growth marketing and tech, my aim to create a positive impact for people and the environment using technology.</p>
        <a id="btn-banner" href="#contact">Get in touch</a>
        <a class="btn-2-banner" href="#about">More about me</a>
      </div>
    </div>
  </div>
  <div class="img-arrow-container"  data-aos="zoom-in">
    <img class="img-arrow" src="https://i.ibb.co/jVBzxT7/arrow-down-sign-to-navigate.png" alt="">
  </div>
  <div class="about-me-container" id="about">
    <h1>Skills I have <br>to offer?</h1>
    <div class="cards-about-me" data-aos="fade-up" data-aos-duration="1000" id="about">
      <div class="card-experience">
       <img src="https://i.ibb.co/3rcKsP7/coding.png" alt="experience" class="task-icon-home">
       <div class="card-body">
          <h4 class="task-name-card">Full Stack Web Developement</h4>
          <p>Recently graduated from 10-week full-time intensive coding bootcamp learning HTML, CSS, JavaScript, SQL, git, Heroku and Ruby on Rails. These techical skills allow me to develop and understand web apps.</p>
       </div>
      </div>

      <div class="card-experience">
        <img src="https://i.ibb.co/LxVGD7r/market-research.png" alt="experience" class="task-icon-home">
        <div class="card-body">
          <h4 class="task-name-card">Growth Marketing</h4>
          <p>My education and experience in scale-ups as a Growth Marketer allowed me to have a sound understanding of developing, implementing and tracking marketing strategies for a specific market. </p>
        </div>
      </div>

      <div class="card-experience">
        <img src="https://i.ibb.co/RhzFD8b/planet-earth.png" alt="experience" class="task-icon-home">
        <div class="card-body">
          <h4 class="task-name-card">Sustainability</h4>
          <p>In 2020, I graduated with a Masters in Sustainable Business & Innovation at EADA Business school, where I learned how to put purpose at the heart of a business strategy. After graduating, I gained experience for social start-ups as a project coordinator. </p>
        </div>
      </div>

    </div>
  </div>

  <div class="project-container" id="project">
    <h1>Portfolio projects</h1>
    <div class="card-portfolio">
      <img class="img-portfolio" src="https://i.ibb.co/CbdjvcT/LOGO-Newco-2.jpg" alt="">
      <div class="portfolio-text-container">
        <h2>Newco Project</h2>
        <h5><strong>Oct 2018 - Jun 2019</strong></h5>
          <p> Bachelor thesis on the introduction of a new type of intrauterine device into the American market. The mission of Newco is to develop and offer superior intrauterine contraception for women so that they can do family planning in the most comfortable way possible. <br> <br> Together with my team, we created a full business plan and a marketing plan for Newco  and defined a marketing strategy based on the 5P s of marketing.  </p>
        <a class="btn-project" href="#">Check out project</a>
      </div>
    </div>

    <div class="card-portfolio">
      <div class="portfolio-text-container-right">
        <h2>Suara Cooperativa</h2>
        <h5><strong>Feb 2020 - Dec 2020</strong></h5>
        <p>Graduate sustainability project in collaboration with Suara Cooperativa on how to bridge the gap seniors and the tourism industry. Suara Cooperativa is a social economy company with more than 35 years of experience in the personal care sector. <br> <br>My team and I successfully redesigned and rebranded the business model of one of the social projects of Suara to create a sustainable business model. The project provides services and assistance to senior travelers that are dependend on help by offering a platform that connects them with local caregivers.
           We launched a scalable model that can be applied in different regions with minimal adaptation.
            Finally, adapted the start-up to the existing effects of the COVID-19 crisis on the tourism industry and the target market.</p>
        <a class="btn-project" href="#">Check out project</a>
      </div>
      <img class="img-portfolio" src="https://i.ibb.co/YTbM4cM/Suara-cooperativa.jpg" alt="">
    </div>

    <div class="card-portfolio">
      <img class="img-portfolio" src="https://i.ibb.co/1rvycTk/Screenshot-2022-01-19-at-21-34-34.jpg" alt="">
      <div class="portfolio-text-container">
        <h2>EVBox campaigns</h2>
        <h5><strong>Nov 2020 - Aug 2021</strong></h5>
        <p>Scale-up that empowers businesses to build a sustainable future by providing electric vehicle charging solutions. <br> <br> I helped develop, implement, track, and update the marketing strategy for Benelux. I Learned and implemented a lead generation process for Benelux. Furthermore, I helped coordinate events and tradeshows and supported potential and existing customers or partners with marketing requests.</p>
        <a class="btn-project" href="#">Check out project</a>
      </div>
    </div>

    <div class="card-portfolio">
      <div class="portfolio-text-container-right">
        <h2>SilverHelp project</h2>
        <h5><strong>Nov 2021 - Present</strong></h5>
        <p>During our time at Le Wagon's 9-week Full Stack Web Development Bootcamp, we had the opportunity to begin developing SilverHelp, a platform dedicated to empowering and supporting seniors with mobility issues by connecting them with our 'Silverhelpers'. <br> <br>
           How does it work? First, the senior or a family member can run a search in their area and select a helper based on their reviews, skills, and proximity. They can then send a request to their chosen helper. Finally, they agree on a time that works best for the Silverhelper to go and assist the senior with whatever they may need!</p>
      <a class="btn-project" href="#">Check out project</a>
      </div>
      <img class="img-portfolio" src="https://i.ibb.co/dbBZ4ZT/Screenshot-2021-12-28-at-15-58-17.jpg" alt="">
    </div>

  </div>





  <div class="contact-container" id="contact">
    <h1>Get in touch!</h1>
    <div class="contact-social-container">
      <div class="contact-text-right">
        <h5>Please do not hesitate to contact me directly. <br> I will come back to you as soon as possible.</h5>
        <div class="icon-container">
          <a href="">
            <img class="contact-icon" src="https://i.ibb.co/KFxGGzf/email.png" alt="email">
          </a>
          <a href="https://www.linkedin.com/in/mateo-huylebroeck/">
            <img class="contact-icon" src="https://i.ibb.co/Fh3P2K5/linkedin-logo.png" alt="linkedin">
          </a>
          <a href="https://github.com/mhuylebroeck">
            <img class="contact-icon" src="https://i.ibb.co/HP7vZ68/github.png" alt="github">
          </a>
        </div>
      </div>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
          <label for="inputPassword4">Your name</label>
          <input type="text" class="form-control" id="inputname4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Your Email</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
        </div>
        <div class="form-group">
          <label for="inputSubject">Subject</label>
          <input type="text" class="form-control" id="inputSubject">
        </div>
        <div class="form-group">
          <label for="inputMessage">Your message</label>
          <textarea type="text" class="form-control" id="inputMessage"></textarea>
        </div>

        <button type="submit" id="btn-banner">Send</button>
      </form>

    </div>
  </div>
</div>
