.banner {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1521706862577-47b053587f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80");
  background-size: cover;
  background-position: center;
  background-color: #000204;
  margin-left: 90px;
  margin-right: 90px;
  border-radius: 30px;
}

.main-container {
  background-color: #000204;
}


.banner h1 {
  margin: 0;
  color: #0fff93;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
  font-family: 'montserrat';
}

.banner p {
  font-size: 17px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 100px;
}

.banner h3 {
  color: white;
  margin-top: 10px;
  font-size: 35px;

}

.container {
  display: flex;
  justify-content: space-between;

}

.banner-text {
  background-position: center;
  background-size: cover;
  padding-right: 30px;
  padding: 150px 440px 150px 100px;
  height: 680px;

}



.img-arrow {
  height: 50px;
  margin-top: 30px;

}

.img-arrow-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
