.banner {
  background-size: cover;
  background-position: center;
  background-color: #000204; //#021204;
}

.banner h1 {
  margin: 0;
  color: #0fff93;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
  font-family: 'montserrat';
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .6;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner h3 {
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;

}

.banner-text {
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1521706862577-47b053587f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80");
  background-position: center;
  background-size: cover;
  padding-right: 30px;
  padding: 150px 350px 150px 100px;
  border-radius: 30px;
  height: 650px;
}

.btn {
  background-color: #0fff93 !important;
  color: #000610 !important;
  border: none !important;
}
