.navbar-lewagon {
  justify-content: space-between;
  background:  #000204; //#021204
  position: -webkit-sticky;
  position: sticky;
  top: 0px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.navbar-expand-sm {
  justify-content: space-between !important;
}

.navbar-light .navbar-nav .nav-link {
  color:white !important;
  font-family: 'montserrat';
  font-size: 16px;
  padding-top: 20px;

}

.navbar {
  padding-right: 200px !important;
  padding-left: 160px !important;

  height: 90px;
}
