.navbar-lewagon {
  justify-content: space-between;
  background: #021204;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-expand-sm {
  justify-content: space-between !important;
}

.navbar-light .navbar-nav .nav-link {
  color:white !important;
  font-family: 'montserrat';
  font-size: 16px;
  padding-top: 20px;

}

.navbar {
  padding-right: 200px !important;
  height: 80px;
}
